<div class="p-3 border-bottom">
    <h3 style="font-weight: bold;">Mi perfil</h3>
</div>
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-body">
                <div class="mt-4 text-center">
                    <div *ngIf="globales.picture!=null else defaultIMG">
                        <img [src]="'data: globales.picture.extensionArchivo; base64,'+globales.picture.data | safe"
                            style="max-height: 220px; min-width: 220px; min-height: 220px; max-width: 220px; clip-path: circle(100px);" />

                    </div>
                    <ng-template #defaultIMG>
                        <img src="assets\images\profilepic.jpg" class="img-responsive rounded"
                            style="max-height: 220px; min-width: 220px; min-height: 220px; max-width: 220px; clip-path: circle(100px);" />
                    </ng-template>
                    <h4 class="card-title mt-2">@{{this.myForm.value.nick}}</h4>
                    <h4 class="card-title">{{this.myForm.value.name}} {{this.myForm.value.surname}}</h4>
                    <h6 class="card-subtitle">{{this.myForm.value.email}}</h6>
                    <div class="row text-center justify-content-md-center mt-5">
                        <div class="col-4">
                            <a routerLink="/usuario/objetivos" class="link">
                                <i class="far fa-calendar"></i>
                                <p style="font-size: 14px;">Objetivos</p>
                            </a>
                        </div>
                        <div class="col-4">
                            <a routerLink="/usuario/miscomunidades" class="link">
                                <i class="icon-people me-2"></i>
                                <p style="font-size: 14px;">Comunidades</p>

                                <!-- 54 -->
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div class="card-body">
                <h4 class="card-title">Nivel</h4>
                <!-- <h6 class="card-subtitle">This is the simple example of Radial Chart</h6> -->
                <apx-chart [series]="radialChartOptions.series" [chart]="radialChartOptions.chart"
                    [dataLabels]="radialChartOptions.dataLabels" [legend]="radialChartOptions.legends"
                    [colors]="radialChartOptions.colors" [stroke]="radialChartOptions.stroke"
                    [labels]="radialChartOptions.labels" [tooltip]="radialChartOptions.tooltip"
                    [plotOptions]="radialChartOptions.plotOptions"></apx-chart>
                <!-- <small class="text-muted pt-4 db">Social Profile</small>
                <br/>
                <div class="button-group">
                <button class="btn btn-circle rounded-circle btn-secondary">
                    <i class="fab fa-facebook-f"></i>
                </button>
                <button class="btn btn-circle rounded-circle btn-secondary">
                    <i class="fab fa-twitter"></i>
                </button>
                <button class="btn btn-circle rounded-circle btn-secondary">
                    <i class="fab fa-youtube"></i>
                </button>
                </div> -->
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-body">
                <div class="card-body">
                    <form class="form-horizontal form-material" [formGroup]="myForm">
                        <div class="mb-3">
                            <label class="col-md-12">Nick</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Introduzca su nick"
                                    class="form-control form-control-line" formControlName="nick">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-md-12">Nombre</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Introduzca su nombre"
                                    class="form-control form-control-line" formControlName="name">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-md-12">Apellido</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Introduzca su apellido"
                                    class="form-control form-control-line" formControlName="surname">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="example-email" class="col-md-12">Email</label>
                            <div class="col-md-12">
                                <input type="email" placeholder="Introduzca su email"
                                    class="form-control form-control-line" name="example-email" id="example-email"
                                    formControlName="email">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="col-md-12">Contraseña</label>
                            <div class="input-group">
                                <input type="password" value="password" class="form-control" formControlName="password">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-eye-slash"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="mb-3">
                            <label class="col-md-12">Número de teléfono</label>
                            <div class="col-md-12">
                                <input type="text" placeholder="Introduzca su número de teléfono" class="form-control form-control-line">
                            </div>
                        </div> -->
                        <!-- <div class="mb-3">
                            <label class="col-md-12">Descripción</label>
                            <div class="col-md-12">
                                <textarea rows="5" placeholder="Cuéntanos sobre tí"
                                    class="form-control form-control-line"></textarea>
                            </div>
                        </div> -->
                        <div class="mb-3">
                            <label class="form-label" for="customFile">Foto de Perfil</label>
                            <div class="col-md-12">
                                <input type="file" class="form-control" id="customFile" formControlName="picture"
                                    (change)="onFileChanged($event)" />
                            </div>
                        </div>
                        <!-- <div class="mb-3">
                            <label class="col-sm-12">Select Country</label>
                            <div class="col-sm-12">
                                <select class="form-select form-control-line">
                                    <option>London</option>
                                    <option>India</option>
                                    <option>Usa</option>
                                    <option>Canada</option>
                                    <option>Thailand</option>
                                </select>
                            </div>
                        </div> -->
                        <div style="display: flex; flex-direction: row;">
                            <div class="mb-3" style="margin-right: 3%;">
                                <div class="col-sm-12">
                                    <button class="btn btn-success" type="button" (click)="submit()">Actualizar
                                        perfil</button>
                                </div>
                            </div>
                            <div class="mb-3">
                                <div class="col-sm-12">
                                    <button class="btn btn-warning" type="button" (click)="reset()">Resetear</button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
        <!-- Column -->
    </div>