<div class="row">
    <div class="col-12">
        <div class="">
            <div class="d-flex justify-content-between mb-4 mt-3">
                <input type="text" class="form-control w-50" placeholder="Buscar por nombre"
                    [(ngModel)]="descripcionBusqueda" />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                </div>
                <button class="btn btn-primary" (click)="crearOEditarComunidad(createEditComunidadModal, 'md', null)">
                    Nueva Comunidad
                </button>
            </div>
            <div *ngIf="!loadingFlag; else loading">
                <div class="table-responsive table-bordered">
                    <table class="table table-striped mb-0 text-nowrap align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Clave</th>
                                <th scope="col">Icono</th>
                                <th scope="col">Banner</th>
                                <th *ngIf="selectedOption == 1" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                      let comunidad of comunidadesFiltrados
                        | slice
                          : (page - 1) * pageSize
                          : (page - 1) * pageSize + pageSize
                    ">
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="font-medium mb-0">
                                                {{ comunidad.nombre.length > 30 ? comunidad.nombre.slice(0,30) + "..." : comunidad.nombre }}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td>{{ comunidad.descripcion.length > 30 ? comunidad.descripcion.slice(0,30) + "..." : comunidad.descripcion }}</td>
                                <td>{{ comunidad.clave }}</td>
                                <td *ngIf="comunidad.picture != null; else noFile">{{ comunidad.picture.descripcion }}</td>
                                <td *ngIf="comunidad.banner != null; else noFile">{{ comunidad.banner.descripcion }}</td>
                                <ng-template #noFile>
                                    <td class="text-danger">NO DATA</td>
                                </ng-template>
                                <td *ngIf="selectedOption == 1">
                                    <a href="javascript: void(0);"
                                        (click)="crearOEditarComunidad(createEditComunidadModal, 'md', comunidad)"
                                        class="link me-2" placement="top" ngbTooltip="Editar comunidad">
                                        <i-feather name="edit-3" class="feather-sm text-info me-2 pointer"></i-feather>
                                    </a>
                                    <a href="javascript: void(0);" class="link" placement="top"
                                        (click)="eliminarComunidad(comunidad)" ngbTooltip="Eliminar comunidad">
                                        <i-feather name="trash-2" class="feather-sm text-danger pointer"></i-feather>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="d-flex justify-content-center mt-5">
                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="size" maxSize="1" rotate="true"
                    (pageChange)="OnPageChange($event)"></ngb-pagination>
            </div>

            <ng-template #noHay>
                <h3 style="display: flex; justify-content: center;">No hay datos</h3>
            </ng-template>


            <ng-template #createEditComunidadModal let-modal>
                <form [formGroup]="miFormComunidades" (ngSubmit)="crearOEditar()">
                    <div class="modal-header">
                        <h3 class="modal-title" id="editComunidadModal">{{comunidadSeleccionado == null ? "Crear
                            comunidad" : "Editar " + comunidadSeleccionado.nombre}}</h3>
                        <button type="button" class="btn-close" (click)="closeBtnClick()" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="col-12">

                            <div class="row">
                                <div class="col-12 d-flex flex-column justify-content-center">
                                    <label for="nombreComunidad" class="form-label">Introduzca el nombre de la
                                        comunidad*</label>
                                    <input type="text" id="nombreComunidad" class="form-control"
                                        placeholder="Nombre para la comunidad" formControlName="nombre" />
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-12 d-flex flex-column justify-content-center">
                                    <label for="descripcionComunidad" class="form-label">Introduzca la descripción de la
                                        comunidad*</label>
                                    <input type="text" id="descripcionComunidad" class="form-control"
                                        placeholder="Descripción para la comunidad" formControlName="descripcion" />
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-12 d-flex flex-column justify-content-center">
                                    <label for="claveComunidad" class="form-label">Introduzca la clave de seguridad para
                                        la comunidad*</label>
                                    <input type="text" id="claveComunidad" class="form-control"
                                        placeholder="Clave de seguridad para la comunidad" formControlName="clave" />
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-12 d-flex flex-column justify-content-center">
                                    <label for="formPicture" class="form-label">Seleccionar icono de la
                                        comunidad</label>
                                    <div class="col-12 d-flex justify-content-center">
                                        <input class="form-control" formControlName="picture"
                                            accept="image/png, image/jpeg" type="file" id="formPicture"
                                            (change)="fileChange($event, 'picture')">
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-12 d-flex flex-column justify-content-center">
                                    <label for="formBanner" class="form-label">Seleccionar banner de la
                                        comunidad</label>
                                    <div class="col-12 d-flex justify-content-center">
                                        <input class="form-control" formControlName="banner"
                                            accept="image/png, image/jpeg" type="file" id="formBanner"
                                            (change)="fileChange($event, 'banner')">
                                    </div>
                                </div>
                            </div>
                            <br>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Cerrar</button>
                        <button [disabled]="miFormComunidades.invalid || miFormComunidades.untouched" class="btn btn-danger"
                            type="submit">Aceptar</button>
                    </div>
                </form>
            </ng-template>

            <ng-template #loading>
                <div *ngIf="!noDataFlag; else noHay" class="d-flex justify-content-center">
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Cargando...</span>
                    </div>
                </div>
            </ng-template>