<h1 style="background-image:url(assets/images/tapizRosa.jpg);padding: 2%;">Mis Comunidades</h1>
<hr>
<div class="row">
    <div class="col-12">
        <div class="">
            <div class="d-flex justify-content-between mb-4 mt-3">
                <input type="text" class="form-control w-50" placeholder="Buscar por nombre"
                    [(ngModel)]="descripcionBusqueda" />
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                </div>
            </div>
            <div *ngIf="!loadingFlag; else loading">
                <div class="table-responsive table-bordered">
                    <table class="table table-striped mb-0 text-nowrap align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Icono</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Descripción</th>
                                <th *ngIf="selectedOption == 1" scope="col">Acceder</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animate__animated animate__fadeInLeft" *ngFor="
                      let comunidad of comunidadesFiltrados
                        | slice
                          : (page - 1) * pageSize
                          : (page - 1) * pageSize + pageSize
                    ">
                                <td *ngIf="comunidad.picture != null; else noFile">
                                    <img [src]="'data: comunidad.picture.extensionArchivo; base64,'+comunidad.picture.data | safe"
                                        class="img-responsive ms-2"
                                        style="max-height: 120px; max-width: 120px; clip-path: circle(50px);" />
                                </td>
                                <ng-template #noFile>
                                    <td>
                                        <img src="assets\images\404\comunidadDefaultSquareNoBKG.png"
                                            class="img-responsive"
                                            style="max-height: 120px; max-width: 120px; clip-path: circle(50px);" />
                                    </td>
                                </ng-template>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p *ngIf="comunidad.nombre != null; else noFileNombre"
                                                class="font-medium mb-0">
                                                {{ comunidad.nombre.length > 30 ? comunidad.nombre.slice(0,30) + "..." :
                                                comunidad.nombre }}
                                            </p>
                                            <ng-template #noFileNombre>
                                                <p class="text-danger font-medium mb-0">NO DATA</p>
                                            </ng-template>
                                        </div>
                                    </div>
                                </td>
                                <td *ngIf="comunidad.descripcion != null; else noFile">{{ comunidad.descripcion.length >
                                    50 ? comunidad.descripcion.slice(0,50) + "..." :
                                    comunidad.descripcion }}</td>
                                <ng-template #noFile>
                                    <td class="text-danger">NO DATA</td>
                                </ng-template>
                                <td *ngIf="selectedOption == 1">
                                    <a (click)="irAComunidad(comunidad)" class="link" ngbTooltip="Ver Comunidad" style="cursor: pointer;">
                                        Ver
                                        <i-feather name="log-in" class="feather text-info pointer ms-1"></i-feather>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <ng-template #noHay>
                <h3 style="display: flex; justify-content: center;">Aun no perteneces a ninguna comunidad</h3>
                <br>
                <div class="row mx-auto " style="width: 100%;">
                    <a routerLink="/usuario/explorar" class="btn btn-outline-info">Explorar comunidades</a>
                </div>
            </ng-template>

            <ng-template #loading>
                <div *ngIf="!noDataFlag; else noHay" class="d-flex justify-content-center">
                    <div class="spinner-border text-danger" role="status">
                        <span class="sr-only">Cargando...</span>
                    </div>
                </div>
            </ng-template>
            <div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>