<div class="m-3">

    <div class="row d-flex flex-row justify-content-between">

        <div class="card col-8">
            <div class="card-body">
                <h5 class="card-title">PERSONAS</h5>
                <p class="card-text">Some quick example text to build on the PERSONAS and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card col-3">
            <div class="card-body">
                <h5 class="card-title">PERSONAS</h5>
                <p class="card-text">Some quick example text to build on the PERSONAS and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

    </div>

</div>