<div *ngIf="!loadingFlag; else loading" class="m-3">
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-7">
            <div class="row">
                <div class="card col-12">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-start">
                            <h4 class="card-title" style="margin-top: 4px;">MIEMBROS |</h4>
                            <i-feather class="mdi mdi-account fs-5 ms-1"></i-feather>
                            <h4 class="card-title" style="margin-top: 4px;">{{usuariosTotales}}</h4>
                        </div>
                        <div class="input-group mb-4 mt-3">
                            <span class="input-group-text" id="basic-addon1">Buscar</span>
                            <input type="text" class="form-control" placeholder="Introduce el nombre de un miembro"
                                [(ngModel)]="descripcionBusqueda" />
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            </div>
                        </div>
                        <div
                            *ngIf="usuariosFiltrados.length <= 0 || descripcionBusqueda.length <= 0; else busquedaUsuarios">
                            <div *ngIf="descripcionBusqueda.length <= 0">
                                <hr *ngIf="usuariosTipo1.length > 0">
                                <div *ngIf="usuariosTipo1.length > 0" class="row">
                                    <div class="col-12">
                                        <h5 class="mt-2 text-decoration-underline">Usuarios Comunes:</h5>
                                        <div *ngFor="let usuarioFOR of usuariosTipo1; let i = index" class="row">
                                            <app-tarjeta-usuario [usuario]="usuarioFOR"
                                                [comunidadActual]="comunidadActualINPUT" (parentOnInit)="ngOnInit()"
                                                [tipoUsuario]="sacarTipoUsuario(usuarioFOR)"></app-tarjeta-usuario>
                                        </div>
                                    </div>
                                </div>
                                <hr *ngIf="usuariosTipo2.length > 0">
                                <div *ngIf="usuariosTipo2.length > 0" class="row">
                                    <div class="col-12">
                                        <h5 class="mt-2 text-decoration-underline">Usuarios Moderadores:</h5>
                                        <div *ngFor="let usuarioFOR of usuariosTipo2; let i = index" class="row">
                                            <app-tarjeta-usuario [usuario]="usuarioFOR"
                                                [comunidadActual]="comunidadActualINPUT" (parentOnInit)="ngOnInit()"
                                                [tipoUsuario]="sacarTipoUsuario(usuarioFOR)"></app-tarjeta-usuario>
                                        </div>
                                    </div>
                                </div>
                                <hr *ngIf="usuariosTipo3.length > 0">
                                <div *ngIf="usuariosTipo3.length > 0" class="row">
                                    <div class="col-12">
                                        <h5 class="mt-2 text-decoration-underline">Usuarios Administradores:</h5>
                                        <div *ngFor="let usuarioFOR of usuariosTipo3; let i = index" class="row">
                                            <app-tarjeta-usuario [usuario]="usuarioFOR"
                                                [comunidadActual]="comunidadActualINPUT" (parentOnInit)="ngOnInit()"
                                                [tipoUsuario]="sacarTipoUsuario(usuarioFOR)"></app-tarjeta-usuario>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="descripcionBusqueda.length > 0" class="row">
                                <hr>
                                <div class="col-12">
                                    <h5 class="mt-2">No hay resultados con el criterio introducido.</h5>
                                </div>
                            </div>
                        </div>
                        <ng-template #busquedaUsuarios>
                            <hr>
                            <div class="row">
                                <div *ngIf="usuariosFiltrados.length > 0 && descripcionBusqueda.length > 0"
                                    class="col-12">
                                    <h5 class="mt-2">Busqueda realizada:</h5>
                                    <div *ngFor="let usuarioFOR of usuariosFiltrados; let i = index" class="row">
                                        <app-tarjeta-usuario [usuario]="usuarioFOR"
                                            [comunidadActual]="comunidadActualINPUT" (parentOnInit)="ngOnInit()"
                                            [tipoUsuario]="sacarTipoUsuario(usuarioFOR)"></app-tarjeta-usuario>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 ms-5">
            <div class="card row">
                <div class="col-12">
                    <div class="card-body">
                        <h3 class="card-title"><i class="pi pi-cog me-2" style="font-size: 1.3rem;"></i>Administración
                        </h3>
                        <hr>
                        <div class="row">
                            <!-- <h4 class="card-title col-10 ms-2">Crear evento:</h4> -->
                            <button class="btn btn-info" (click)="openModal(createEditEventoModal, 'md')">
                                Añadir usuario
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #createEditEventoModal let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="addUserModal">Añiadir nuevo miembro</h3>
        <button type="button" class="btn-close" (click)="closeBtnClick()" aria-label="Close"></button>
    </div>

    <div class="modal-body row">
        <div class="col-12">

            <div class="input-group mb-4 mt-3">
                <input type="text" class="form-control" placeholder="Introduce el usuario de un miembro"
                    [(ngModel)]="criterioBusquedaUsuarioBBDD" />
                <button class="input-group-text btn btn-info" (click)="searchUser()" id="basic-addon21">Buscar</button>
            </div>

            <hr>

            <div *ngIf="!isLoadingAddUser; else loadingNoMT">
                <div *ngIf="addSearchUsuarios.length <= 0; else usuariosEncontrados" class="row">
                    <div class="col-12" style="text-align: center;">
                        <h4 class="card-title">{{mensajeFalloBusqueda}}</h4>
                    </div>
                </div>

                <ng-template #usuariosEncontrados>
                    <div *ngFor="let usuarioFOR of addSearchUsuarios; let i = index" class="row">
                        <app-tarjeta-usuario class="ms-3 mb-3" [usuario]="usuarioFOR"
                            [comunidadActual]="comunidadActualINPUT" (parentOnInit)="ngOnInit()"
                            [tipoUsuario]="-1"></app-tarjeta-usuario>
                    </div>
                </ng-template>
            </div>

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Cerrar</button>
    </div>
</ng-template>

<ng-template #loading>
    <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
</ng-template>

<ng-template #loadingNoMT>
    <div class="d-flex justify-content-center">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
</ng-template>