<div *ngIf="!loadingFlag; else loading" class="m-3">
    <div class="row d-flex flex-row justify-content-center">
        <div class="col-7">
            <div class="row">
                <div class="card col-12">
                    <div class="card-body">
                        <div class="d-flex flex-row justify-content-start">
                            <h4 class="card-title" style="margin-top: 4px;">EVENTOS |</h4>
                            <i-feather class="mdi mdi-calendar fs-5 ms-1"></i-feather>
                            <h4 class="card-title" style="margin-top: 4px;">{{eventosTotales}}</h4>
                        </div>

                        <div class="btn-toolbar mt-2" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group me-4" role="group" aria-label="Second group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off"
                                    (click)="cargarTodosEventosPorComunidad()">
                                <label class="btn btn-outline-info" for="btnradio4">Todos</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off"
                                    (click)="cargarEventosEnCurso()">
                                <label class="btn btn-outline-info" for="btnradio5">En curso</label>
                            </div>
                            <div class="btn-group me-2" role="group" aria-label="First group">
                                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
                                    checked (click)="cargarProximosXDias(7)">
                                <label class="btn btn-outline-info" for="btnradio1">Próximos 7 días</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
                                    (click)="cargarProximosXDias(30)">
                                <label class="btn btn-outline-info" for="btnradio2">Próximos 30 días</label>

                                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off"
                                    (click)="cargarProximosXDias(365)">
                                <label class="btn btn-outline-info" for="btnradio3">Próximos 365 días</label>
                            </div>
                        </div>

                        <hr>

                        <h4 class="mt-4">{{textoParaCriterioBusqueda}}</h4>

                    </div>
                </div>

                <div *ngIf="eventosAMostrar.length > 0; else loadingSinMT">
                    <div *ngFor="let eventoFOR of eventosAMostrar">
                        <app-tarjeta-evento [eventoActual]="eventoFOR" (parentOnInit)="ngOnInit()"></app-tarjeta-evento>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-3 ms-5">
            <div class="card row">
                <div class="col-12">
                    <div class="card-body">
                        <h3 class="card-title"><i class="pi pi-cog me-2" style="font-size: 1.3rem;"></i>Administración
                        </h3>
                        <hr>
                        <div class="row">
                            <!-- <h4 class="card-title col-10 ms-2">Crear evento:</h4> -->
                            <button class="btn btn-info"
                                (click)="crearOEditarEvento(createEditEventoModal, 'md', null)">
                                Nuevo Evento
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<ng-template #loading>
    <div class="d-flex justify-content-center mt-5">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
</ng-template>

<ng-template #loadingSinMT>
    <div *ngIf="!error404NotFound" class="d-flex justify-content-center">
        <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
</ng-template>

<ng-template #createEditEventoModal let-modal>
    <form [formGroup]="miFormComunidades" (ngSubmit)="crearOEditar()">
        <div class="modal-header">
            <h3 class="modal-title" id="editComunidadModal">{{comunidadSeleccionado == null ? "Crear
                comunidad" : "Editar " + comunidadSeleccionado.nombre}}</h3>
            <button type="button" class="btn-close" (click)="closeBtnClick()" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <div class="col-12">

                <div class="row">
                    <div class="col-12 d-flex flex-column justify-content-center">
                        <label for="nombreComunidad" class="form-label">Introduzca el nombre de la
                            comunidad*</label>
                        <input type="text" id="nombreComunidad" class="form-control"
                            placeholder="Nombre para la comunidad" formControlName="nombre" />
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12 d-flex flex-column justify-content-center">
                        <label for="descripcionComunidad" class="form-label">Introduzca la descripción de la
                            comunidad*</label>
                        <textarea type="text" id="descripcionComunidad" class="form-control"
                            placeholder="Descripción para la comunidad"
                            formControlName="descripcion"></textarea>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12 d-flex flex-column justify-content-center">
                        <label for="claveComunidad" class="form-label">Introduzca la clave de seguridad para
                            la comunidad*</label>
                        <input type="text" id="claveComunidad" class="form-control"
                            placeholder="Clave de seguridad para la comunidad" formControlName="clave" />
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12 d-flex flex-column justify-content-center">
                        <label for="claveComunidad" class="form-label">Seleccione una opcion de visibilidad*</label>
                        <div class="row">
                            <div class="col-3">
                                <p-radioButton [value]="true" formControlName="isVisible"
                                    inputId="visible"></p-radioButton>
                                <label for="visible" class="ml-2 ms-2">Visible</label>
                            </div>

                            <div class="col-3">
                                <p-radioButton [value]="false" formControlName="isVisible"
                                    inputId="noVisible"></p-radioButton>
                                <label for="noVisible" class="ml-2 ms-2">No visible</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12 d-flex flex-column justify-content-center">
                        <label for="claveComunidad" class="form-label">Seleccione una opcion de accesibilidad*</label>
                        <div class="row">
                            <div class="col-3">
                                <p-radioButton [value]="true" formControlName="isPublica"
                                    inputId="publica"></p-radioButton>
                                <label for="publica" class="ml-2 ms-2">Publica</label>
                            </div>

                            <div class="col-3">
                                <p-radioButton [value]="false" formControlName="isPublica"
                                    inputId="noPublica"></p-radioButton>
                                <label for="noPublica" class="ml-2 ms-2">Privada</label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12 d-flex flex-column justify-content-center">
                        <label for="formPicture" class="form-label">Seleccionar icono de la
                            comunidad</label>
                        <div class="col-12 d-flex justify-content-center">
                            <input class="form-control" formControlName="picture"
                                accept="image/png, image/jpeg" type="file" id="formPicture"
                                (change)="fileChange($event, 'picture')">
                        </div>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-12 d-flex flex-column justify-content-center">
                        <label for="formBanner" class="form-label">Seleccionar banner de la
                            comunidad</label>
                        <div class="col-12 d-flex justify-content-center">
                            <input class="form-control" formControlName="banner"
                                accept="image/png, image/jpeg" type="file" id="formBanner"
                                (change)="fileChange($event, 'banner')">
                        </div>
                    </div>
                </div>
                <br>

            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeBtnClick()">Cerrar</button>
            <button [disabled]="miFormComunidades.invalid || miFormComunidades.untouched"
                class="btn btn-danger" type="submit">Aceptar</button>
        </div>
    </form>
</ng-template>